* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    background: var(--black);
    color: var(--white);
}

:root {
    --black: #000000;
    --white: #ffffff;
    --dark:#282828;
    --darkblue:#171718;
    --grey:#C4C4C4;
}