.phones {
  padding-top: 80px;
  padding-bottom: 55px;
}

.card {
  background: white;
  padding: 15px 47px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;

}

.card__img {
  display: inline-block;
}

.card__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 10px;
}

.card__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--black);
}

.card__img {
  margin-bottom: 10px;
}

.card__btn {
  all: unset;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--white);
  padding: 7px 57px;
  background: var(--black);
}

.cards {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

@media screen and (max-width:992px) {
  .cards {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
  }

  .card {
    width: 49%;
  }
}

@media screen and (max-width:772px) {
  .card {
    width: 45%;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5;
  } 
  
}


@media screen and (max-width:375px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
}